/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30/11/2025, 09:43:38 PM
    Author     : ACER
*/

body{

    text-align: center;
}
#content {
    width: 100%;
}
#content table{

    margin: 0 auto;
    border: 1px solid rgb(0,51,102);
}

#content table td{

    text-align: left;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(0,51,102);
}

#content table td:nth-child(1){
    width: 100px;
}

#content table td:nth-child(2){
    width: 600px;
}

.grilla_cabecera{
    text-align: center !important;
    padding: 7px;
    height: 100px !important;
    background-color: rgb(0,51,102);
    color: white;
    font-weight: bold;
}